:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --title-text-color: #212121;
  --filter-button-text-color: #212121;
  --banner-text-color: #fff;
  --footer-text-color: #fff;
  --footer-mail-and-phone-color: rgba(255, 255, 255, 0.6);
  --primary-page-background-color: #fff;
  --accent-background-color: #2f303a;
  --team-section-background-color: #f5f4fa;
  --filter-button-background-color: #f5f4fa;
  --peculiarities-icon-background-color: #f5f4fa;
  --banner-overlay: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --main-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --project-description-picture-height: 294px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-page-background-color);
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

main {
  flex-grow: 1;
}

.container {
  min-width: 280px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.button--submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--submit:hover, .button--submit:focus {
  background-color: #188ce8;
}

.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.socials__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.contacts {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  gap: 32px;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  color: var(--accent-color);
}

.contacts__link[rel=studio-mail] {
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.contacts__link[rel=studio-phone-number] {
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contacts__icon {
  display: none;
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section {
  padding: 60px 0;
}

.section--no-padding-top {
  padding-top: 0;
}

.section--other-background {
  background-color: var(--team-section-background-color);
}

@media screen and (max-width: 1119px) {
  .section--only-desktop {
    display: none;
  }
}
.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (max-width: 1199px) {
  .section--only-desktop {
    display: none;
  }
}
.icon {
  fill: currentColor;
}

.header__page-navigation {
  flex-grow: 1;
}

.cite-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.cite-nav__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cite-nav__link:hover, .cite-nav__link:focus, .cite-nav__link:active {
  color: var(--accent-color);
}

.cite-nav__link--current {
  color: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 1000;
  left: -100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 40px;
  padding-right: 0;
  overflow: hidden;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(100%);
}

.mobile-menu__close-button {
  position: absolute;
  top: 21px;
  right: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  background-color: inherit;
}
.mobile-menu__close-button:hover, .mobile-menu__close-button:focus, .mobile-menu__close-button:active {
  color: var(--accent-color);
}

.burger {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 0;
  background-color: inherit;
}

.contacts__socials {
  margin-top: 32px;
}

.social-textlinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-textlinks__item:not(:last-child) {
  flex-shrink: 1;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-textlinks__link {
  padding: 10px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}
.social-textlinks__item:first-of-type .social-textlinks__link {
  padding-left: 0;
}
.social-textlinks__item:last-of-type .social-textlinks__link {
  padding-right: 0;
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  font-weight: 500;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__accent {
  color: var(--accent-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--accent-background-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;
}

.footer__logo-and-address {
  flex-grow: 1;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__logo:not(.cite-logo__accent) {
  color: var(--footer-text-color);
}

.footer__address {
  font-style: normal;
}

.footer__address-listitem:not(:last-child) {
  margin-bottom: 9px;
}

.footer__location {
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__location:hover, .footer__location:focus, .footer__location:active {
  color: var(--accent-color);
}

.footer__email,
.footer__phonenumber {
  color: var(--footer-mail-and-phone-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email:hover, .footer__email:focus, .footer__email:active,
.footer__phonenumber:hover,
.footer__phonenumber:focus,
.footer__phonenumber:active {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__social-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__input {
  display: block;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:focus, .footer__input:active {
  border-color: var(--accent-color);
}

.footer__submit-button {
  padding-left: 28px;
  padding-right: 28px;
}

.footer__submit-button-text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 94vw;
  max-width: 100vw;
  min-height: 77vh;
  max-height: 100vh;
  padding: 34px 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__top-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal__label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__label:nth-of-type(4) {
  margin-bottom: 20px;
}

.modal__input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  color: #212121;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-svg {
  position: absolute;
  top: 14px;
  left: 15px;
}
.modal__input:focus + .modal__input-svg {
  color: var(--accent-color);
}

.modal__input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  color: #212121;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__input--rectangle {
  height: 40px;
  padding-left: 42px;
}

.modal__input--textarea {
  margin-top: 4px;
  height: 120px;
  resize: none;
}
.modal__input--textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal__custom-checkbox {
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 3px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:focus + .modal__custom-checkbox {
  outline: 1px solid var(--accent-color);
}
.modal__checkbox:checked + .modal__custom-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.modal__custom-checkbox-icon {
  display: none;
  color: #fff;
  transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:checked + .modal__custom-checkbox > .modal__custom-checkbox-icon {
  display: block;
}

.modal__checkbox-label-text {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__checkbox-label-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal__submit-button {
  padding-left: 52px;
  padding-right: 52px;
}

.banner {
  margin: 0 auto;
  width: 100vw;
  min-width: 280px;
  height: 400px;
  color: var(--banner-text-color);
  background-color: var(--accent-background-color);
  background-image: var(--banner-overlay), url("../images/banner/banner-background-image-min-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.banner__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__title {
  margin-bottom: 30px;
}

.banner__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--banner-text-color);
  background-color: var(--accent-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banner__button:hover, .banner__button:focus, .banner__button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}

.peculiarities__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  /*padding: 25px 100px;*/
  border-radius: 4px;
  background-color: var(--peculiarities-icon-background-color);
}

.peculiarities__icon {
  width: 70px;
  height: 70px;
}

.peculiarities__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .proficiencies {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .proficiencies__item {
    position: relative;
  }
  .proficiencies__text {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  text-align: center;
}

.team__image {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 420px) and (max-width: 767px) {
  .team__image {
    width: 450px;
    margin: 0 auto;
  }
}

.team__info {
  padding: 30px 0;
}

.team__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 500;
}

.team__text {
  margin-bottom: 16px;
}

.team__title,
.team__text {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.regular-customers__item {
  width: 170px;
  height: 92px;
}

.regular-customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers__link:hover, .regular-customers__link:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--accent-color);
}

.filters {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.filters__button {
  display: block;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--filter-button-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: inherit;
  color: var(--filter-button-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: #fff;
}
.filters__button:active {
  padding: 6px 25px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: #fff;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projects__item {
  flex-basis: 100%;
  max-width: 450px;
}

.projects__link {
  position: relative;
  display: block;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(var(--project-description-picture-height));
  height: var(--project-description-picture-height);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  top: 0;
  opacity: 1;
  transform: translateY(0);
}

.projects__image {
  width: 100%;
}

.projects__info {
  position: relative;
  z-index: 2;
  padding: 20px 24px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards-list__item {
  width: 100%;
}

.cards-list--small-cards {
  flex-direction: row;
  flex-wrap: wrap;
}
.cards-list--small-cards .cards-list__item {
  width: calc((100% - 30px) / 2);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px), screen and (min-width: 768px) and (max-width: 767px) {
  .banner {
    background-image: var(--banner-overlay), url("../images/banner/banner-background-image@2x-min-mobile.jpg");
  }
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: var(--banner-overlay), url("../images/banner/banner-background-image-min-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px), screen and (min-width: 768px) and (min-width: 768px) {
  .banner {
    background-image: var(--banner-overlay), url("../images/banner/banner-background-image@2x-min-tablet.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    background-image: var(--banner-overlay), url("../images/banner/banner-background-image-min-desktop.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px), screen and (min-width: 768px) and (min-width: 1200px) {
  .banner {
    background-image: var(--banner-overlay), url("../images/banner/banner-background-image@2x-min-desktop.jpg");
  }
}
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .cards-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cards-list--small-cards .cards-list__item {
    width: calc((100% - 60px) / 3);
  }
  .cards-list__item {
    width: calc((100% - 30px) / 2);
  }
  .header {
    padding: 21px 0;
  }
  .header__burger {
    display: none;
  }
  .header__logo {
    margin-right: 88px;
  }
  .mobile-menu {
    position: static;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 0;
  }
  .mobile-menu__close-button {
    display: none;
  }
  .header__page-navigation {
    flex-grow: 0;
  }
  .cite-nav {
    flex-direction: row;
    gap: 50px;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
  .cite-nav__link--current {
    position: relative;
  }
  .cite-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .contacts {
    flex-direction: column;
    flex-grow: 0;
    gap: 10px;
  }
  .contacts__icon {
    display: block;
    margin-right: 8px;
  }
  .contacts__link[rel=studio-mail],
.contacts__link[rel=studio-phone-number] {
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
  .contacts__link[rel=studio-phone-number] {
    color: inherit;
  }
  .banner {
    width: 768px;
  }
  .peculiarities__item {
    width: 354px;
  }
  .peculiarities__title {
    text-align: start;
  }
  .team__image {
    width: 354px;
  }
  .footer__container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 70px;
    row-gap: 60px;
    text-align: center;
  }
  .footer__social {
    flex-grow: 1;
    text-align: center;
  }
  .footer__form {
    width: 100%;
  }
  .footer__input {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
  .modal__window {
    width: 450px;
    height: 609px;
    min-width: 450px;
    max-width: 450px;
    min-height: 609px;
    max-height: 609px;
    padding: 40px;
  }
  .filters {
    justify-content: center;
    flex-wrap: nowrap;
  }
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects__item {
    flex-basis: 354px;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding: 94px 0;
  }
  .section__title {
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
  .cards-list {
    flex-wrap: nowrap;
  }
  .cards-list__item {
    flex-grow: 1;
  }
  .header {
    padding: 24px 0;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
  .header__logo {
    margin-right: 93px;
  }
  .cite-nav {
    flex-direction: row;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
  .contacts {
    flex-direction: row;
    gap: 30px;
  }
  .contacts__link[rel=studio-mail],
.contacts__link[rel=studio-phone-number] {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
  .contacts__icon {
    margin-right: 10px;
  }
  .banner {
    max-width: 1600px;
    width: 100%;
    height: 600px;
  }
  .main-title {
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
  .peculiarities__item {
    width: 270px;
  }
  .team__image {
    width: 270px;
  }
  .footer__container {
    flex-wrap: nowrap;
    align-items: baseline;
    text-align: start;
    gap: 0;
  }
  .footer__social {
    flex-grow: 0;
    text-align: start;
    margin-right: 90px;
  }
  .footer__logo-and-address {
    margin-right: 70px;
  }
  .footer__input {
    display: inline-block;
    width: 358px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 12px;
  }
  .footer__form {
    width: auto;
  }
  .modal__window {
    width: 528px;
    height: 581px;
    min-width: 528px;
    max-width: 528px;
    min-height: 581px;
    max-height: 581px;
  }
  .modal__checkbox-label-text {
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects__item {
    flex-basis: 370px;
    max-width: 370px;
  }
}/*# sourceMappingURL=main.css.map */