//Mobile 2x
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-width: 768px) and (max-width: 767px) {
  .banner {
    background-image: var(--banner-overlay),
      url('../images/banner/banner-background-image@2x-min-mobile.jpg');
  }
}

//Tablet
@media screen and (min-width: 768px) {
  .banner {
    background-image: var(--banner-overlay),
      url('../images/banner/banner-background-image-min-tablet.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-width: 768px) and (min-width: 768px) {
  .banner {
    background-image: var(--banner-overlay),
      url('../images/banner/banner-background-image@2x-min-tablet.jpg');
  }
}

//Desktop
@media screen and (min-width: 1200px) {
  .banner {
    background-image: var(--banner-overlay),
      url('../images/banner/banner-background-image-min-desktop.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px),
  screen and (min-width: 768px) and (min-width: 1200px) {
  .banner {
    background-image: var(--banner-overlay),
      url('../images/banner/banner-background-image@2x-min-desktop.jpg');
  }
}
