@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .section:not(.section--no-padding-top) {
    padding: 94px 0;
  }

  .section__title {
    margin-bottom: 50px;

    @include text(36px, 42px, 0.03em);
  }

  //cards-list
  .cards-list {
    flex-wrap: nowrap;
  }

  .cards-list__item {
    flex-grow: 1;
  }

  //header
  .header {
    padding: 24px 0;

    @include text(14px, 16px, 0.02em);
  }

  .header__logo {
    margin-right: 93px;
  }

  //navigation
  .cite-nav {
    flex-direction: row;

    @include text-inherit;
  }

  //contacts
  .contacts {
    flex-direction: row;
    gap: 30px;
  }

  .contacts__link {
    @include text-inherit;
  }

  .contacts__icon {
    margin-right: 10px;
  }

  //banner
  .banner {
    max-width: 1600px;
    width: 100%;
    height: 600px;
  }

  .main-title {
    @include text(44px, 60px, 0.06em);
  }

  //peculiarities section

  .peculiarities__item {
    width: 270px;
  }

  //team section
  .team__image {
    width: 270px;
  }

  //footer
  //footer
  .footer__container {
    flex-wrap: nowrap;
    text-align: start;
    gap: 0;
  }

  .footer__social {
    flex-grow: 0;
    text-align: start;
    margin-right: 90px;
  }

  .footer__logo-and-address {
    margin-right: 70px;
  }

  .footer__input {
    display: inline-block;
    width: 358px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 12px;
  }

  .footer__form {
    width: auto;
  }

  //modal window
  .modal__window {
    width: 528px;
    height: 581px;
    min-width: 528px;
    max-width: 528px;
    min-height: 581px;
    max-height: 581px;
  }

  .modal__checkbox-label-text {
    @include text(14px, 24px, 0.03em);
  }

  //**********Portfolio page**************
  //filters
  .filters {
    margin-bottom: 50px;
  }

  //projects
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects__item {
    flex-basis: 370px;
    max-width: 370px;
  }
}
