@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  //cards-list
  .cards-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cards-list--small-cards {
    .cards-list__item {
      width: calc((100% - 2 * 30px) / 3);
    }
  }

  .cards-list__item {
    width: calc((100% - 30px) / 2);
  }

  //Header
  .header {
    padding: 21px 0;
  }

  .header__burger {
    display: none;
  }

  .header__logo {
    margin-right: 88px;
  }

  .mobile-menu {
    position: static;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

    width: auto;
    height: auto;
    padding: 0;
  }

  .mobile-menu__close-button {
    display: none;
  }

  //navigation
  .header__page-navigation {
    flex-grow: 0;
  }

  .cite-nav {
    flex-direction: row;
    gap: 50px;

    @include text(14px, 16px, 0.02em);
  }

  .cite-nav__link--current {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -32px;
      left: 0;

      width: 100%;
      height: 4px;

      border-radius: 2px;

      background-color: var(--accent-color);
    }
  }

  //contacts
  .contacts {
    flex-direction: column;
    flex-grow: 0;
    gap: 10px;
  }

  .contacts__icon {
    display: block;
    margin-right: 8px;
  }

  .contacts__link[rel='studio-mail'],
  .contacts__link[rel='studio-phone-number'] {
    @include text(12px, 14px, 0.02em);
  }

  .contacts__link[rel='studio-phone-number'] {
    color: inherit;
  }

  //banner
  .banner {
    width: 768px;
  }

  //peculiarities section

  .peculiarities__item {
    width: 354px;
  }

  .peculiarities__title {
    text-align: start;
  }

  //team section
  .team__image {
    width: 354px;
  }

  //footer
  .footer__container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 70px;
    row-gap: 60px;

    text-align: center;
  }

  .footer__social {
    flex-grow: 1;

    text-align: center;
  }

  .footer__form {
    width: 100%;
  }

  .footer__input {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }

  //modal window
  .modal__window {
    width: 450px;
    height: 609px;
    min-width: 450px;
    max-width: 450px;
    min-height: 609px;
    max-height: 609px;
    padding: 40px;
  }

  //**********Portfolio page**************
  //filters
  .filters {
    justify-content: center;
    flex-wrap: nowrap;
  }

  //projects
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects__item {
    flex-basis: 354px;
    max-width: 354px;
  }
}
