.filters {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;

  margin-bottom: 50px;
}

.filters__button {
  display: block;

  padding: 6px 22px;

  border: 1px solid transparent;
  border-radius: 4px;

  background-color: var(--filter-button-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: inherit;
  color: var(--filter-button-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    background-color: var(--accent-color);
    color: #fff;
  }

  &:active {
    padding: 6px 25px;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    background-color: var(--accent-color);
    color: #fff;
  }
}
