.contacts {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  gap: 32px;
}

.contacts__link {
  display: flex;
  align-items: center;

  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.contacts__link[rel='studio-mail'] {
  @include text(24px, 28px, 0.02em);
}

.contacts__link[rel='studio-phone-number'] {
  @include text(34px, 40px, 0.02em);
  color: var(--accent-color);
}

.contacts__icon {
  display: none;
}
