.section {
  padding: 60px 0;
}

.section--no-padding-top {
  padding-top: 0;
}

.section--other-background {
  background-color: var(--team-section-background-color);
}

@media screen and (max-width: 1119px) {
  .section--only-desktop {
    display: none;
  }
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  @include text(28px, 33px, 0.03em);
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (max-width: 1199px) {
  .section--only-desktop {
    display: none;
  }
}
