@media screen and (min-width: 1200px) {
  .proficiencies {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .proficiencies__item {
    position: relative;
  }

  .proficiencies__text {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
    color: rgba(255, 255, 255, 1);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
