@mixin text($fs, $lh, $ls) {
  font-size: $fs;
  line-height: calc($lh / $fs);
  letter-spacing: $ls;
}

@mixin text-inherit {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
