:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --title-text-color: #212121;
  --filter-button-text-color: #212121;
  --banner-text-color: #fff;
  --footer-text-color: #fff;
  --footer-mail-and-phone-color: rgba(255, 255, 255, 0.6);

  --primary-page-background-color: #fff;
  --accent-background-color: #2f303a;
  --team-section-background-color: #f5f4fa;
  --filter-button-background-color: #f5f4fa;
  --peculiarities-icon-background-color: #f5f4fa;

  --banner-overlay: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  --main-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;

  --project-description-picture-height: 294px;
}
